body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200x 640px 50px;
    background-color: rgb(236, 158, 158)
}
h1 {
    text-align: center;
    grid-column: 2;
    font-family: fantasy;
    font-size: 80px;
}
p {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2;
}
#clear-button {
    background-color: rgba(255, 105, 180, 0.801);
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 1px;
    font-family: monospace;
    font-size: large;
    
            
}



#grid-container {
    grid-column: 2;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 640px;
    height: 640px;
    margin: 0 auto;
    border: 30px solid black;
    border-radius: 30px;

    
}
.grid-item {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(40, 201, 80);
}

.grid-item-hovered {
    background-color: black;
}

